body{
    background-color: black;
}

body {
    box-sizing: border-box;
}

.div2 {
    background-color: gray;
    border: 3px solid gray;
    border-radius: 40px;
    margin: auto;
    width: 300px;
    height: 500px;
    text-align: center;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    transition: 1s;
    box-shadow: 5px 5px 15px 15px sienna;
}

.div2:hover {
    background-color: blueviolet;
}

.img1 {
    width: 150px;
    height: 150px;
    border: 3px solid gray;
    border-radius: 100px;
    margin-left: 70px;
}

.h3 {
    color: bisque;
    font-size: 30px;
    margin-top: 0px;
}

p {
    color: white;
    margin-top: 0px;
    font-weight: bold;
}

.button1 {
     background-color: blue;
     width: 150px;
     border: 3px solid Blue;
     border-radius: 20px;
     color: white;
     padding: 10px;
}

.div3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button2 {
     background-color: rgb(207, 28, 183);
     width: 150px;
     border: 3px solid rgb(207, 28, 183);
     border-radius: 20px;
     color: white;
     padding: 10px;
}

.button3 {
     background-color: black;
     width: 150px;
     border: 3px solid black;
     border-radius: 20px;
     color: white;
     padding: 10px;
}

::selection {
    color: brown;
}

a:visited {
    color: aqua;
}

.button5 {
    background-color: rgb(38, 161, 25);
    width: 150px;
    border: 3px solid rgb(38, 161, 25);
    border-radius: 20px;
    color: white;
    padding: 10px;
}

.buttton4 {
    background-color: rgb(43, 17, 42);
    width: 150px;
    border: 3px solid rgb(43, 17, 42);
    border-radius: 20px;
    color: white;
    padding: 10px;
}